<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Loan_Defaulters_Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background: #000;">
 <div class="login">
	<h1>Loan Defaulters</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="UnsecuredLines" placeholder="UnsecuredLines" required="required" />
        <input type="number" name="age" placeholder="age" required="required" />
        <input type="number" name="PastDue30-59days" placeholder="PastDue30-59days" required="required" />
        <input type="number" name="DebtRatio" placeholder="DebtRatio" required="required" />
        <input type="number" name="MonthlyIncome" placeholder="MonthlyIncome" required="required" />
        <input type="number" name="OpenCredit" placeholder="OpenCredit" required="required" />
        <input type="number" name="Late_90days" placeholder="Late_90days" required="required" />
        <input type="number" name="RealEstate" placeholder="RealEstate" required="required" />
        <input type="number" name="PastDue60-89days" placeholder="PastDue60-89days" required="required" />
		<input type="number" name="Dependents" placeholder="Dependents" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
